#main
{
	display:grid;
	grid-template-columns:200px 1fr;}

#left
{
	grid-columns:2;
	box-sizing:border-box;
	background:blue;
	}
#right
{
	grid-columns:1;
	box-sizing:border-box;
	background:orange;}	