
*
{
	box-sizing:border-box;}

h1
{
	color:White;
	width:20%;
	height:750px;
	background:rgb(101, 165, 250);
	float:left;
	text-align:center;
	}

a:link{color:blue;}
a:visited{color:blue;}

.s1
{
	display:block;
	margin:0px 10px 20px 0px;
	font-weight:bold;
	float:left;
	}
.s2
{	
	display:block;
	margin:0px 30px 20px 0px;
	float:left;
	}	
	
div
{	clear:both;
	}
