#main
{
	display:grid;
	grid-template-columns:120px 1fr;
	
	}
#left
{
	
	grid-column:1;
	box-sizing:border-box;
	background:blue;
	
	}
#right
{
	grid-column:2;
	box-sizing:border-box;
	background:orange;}	