html,body 
{
	margin:0;
	height:100%;
}
/*需要将html的高度也设置为100%，列高才不会受限制*/

#left,#right
{
	position:absolute;
	top:0;
	width:200px;
	height:100%;}
	
#left
{
	left:0;
	background:#a0b3d6;
	}

#right
{
	right:0;
	background:#a0b3d6;
	}

#main
{
	height:100%;
	margin:0 200px;
	background:#ffe6b8;
	}